/* CSS Mini Reset */
// http://www.vcarrer.com/2010/05/css-mini-reset.html

html, body, div, form, fieldset, legend, label {
 margin: 0;
 padding: 0; 
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight: normal; }

img { border: 0; }
